.flex-container2 {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    margin:5px;
} 
  
.headers {
    font-style: italic; 
    text-transform: uppercase;
    display: flex;
}

.pop-up {
    width: 100%;
}

.modal > div {
    width: 20%;
    padding: 10px 5px;
  }
  .secondelem{
      margin:5px;
  }