
    .bookWrapper{
        background-color:white;
        width: 1150px !important;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3) !important;
        margin: 15px !important;
        padding: 10px !important;
    }

    .bookInfo{
        display: flex;
    }

    .bookImg {
        width : 200px;

    }

   .bookAuthor{
       font-weight: bold;
   }

   .imgWrapper{
       margin-right: 10px;
   }

 .bookRate {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
  }

  .bookRate > span {
    display: inline-block;
    position: relative;
    flex: 1.1em;
    cursor: pointer;
  }

  .bookRate > span:hover:before,
  .bookRate > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
     color: gold;
  }