
    .main{
        display: flex;
        justify-content: space-between;
    }
    
    .bookWrapper{

        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
        padding: 10px;
        transition: 0.3s;
    }

    .bookWrapper:hover{
        box-shadow: 0 0 3px 5px gray;
        transform: scale(1.02);
        cursor: pointer;
        background-color:white;
        /* width: 1150px !important;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3) !important;
        margin: 15px !important;
        padding: 10px !important; */

    }

    .bookInfo{
        display: flex;
    }

    .bookImg {
        width : 200px;

    }

    .description {
        max-height: calc(6*1.5rem);
        overflow:hidden;
    }

   .bookAuthor{
       font-weight: bold;
   }

   .imgWrapper{
       margin-right: 10px;
   }

 .bookRate {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
  }

  .bookRate > span {
    display: inline-block;
    position: relative;
    flex: 1.1em;
    cursor: pointer;
  }

  .bookRate > span:hover:before,
  .bookRate > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
     color: gold;
  }

  .noDecoration{
    text-decoration: none;
  }